@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: auto;
//min-height: auto;
//min-width: auto;
//overflow: paged-x;
}

body {
    font-family: 'Merienda', cursive;
    //background-image: url("./pictures/background-cards1.png");
    //background-image: url("./pictures/full-house.png");
    //background-image: url("./pictures/ace.jpg");
    //background-image: url("./pictures/ace1.jpg");
    background-image: url("./pictures/ace-spades-flower.jpg");
    background-repeat: round;
    background-color: var(--background-color);
    //transition: background-color 0.5s ease;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    height: auto;
//background-color: #fff;
//color: #222;
//height: 100%;
    align-content: center;
    text-align: left;
}

.App {
    text-align: left;
    min-height: 100vh;
    padding-top: 10px;
}

.theme-options {
//min-width: auto;
    max-width: 800px;
    margin: 0 auto;
    text-align: right;
    padding: 20px 0;
div {
    cursor: pointer;
    width: 20px;
    height: 20px;
//border-radius: 4px;
    margin: 2px 10px;
//border: 1px solid blue;
    display: inline-block;
    opacity: 0.5;
&.active {
     opacity: 1;
 }
}
}

.content-box {
    --transition-delay: 1s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;

    transition: var(--transition-delay);
    background-color: var(--background-color);
    color: var(--text-color);

    margin: 0 auto;
    border-radius: 8px;
    padding: 30px 30px 40px 30px;
    max-width: 80%;
    max-height: 80%;
    min-height: 50%;
    opacity: 0.9;
h1 {
    margin: 10px;
    padding: 10px;
    line-height: 1.2;
    font-size: 5rem;
    transition: var(--transition-delay);
    text-align: right;
}
button {
    background-color: var(--accent-color);
    color: var(--button-text-color);

    display: flex;
    width: 110px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: .1em 1em;
    border-radius: .3em;
    outline: none;
    border: none;
    transition: var(--transition-delay);
    transform: scale(1);
//float: left;
    clear: left;

    line-height: 1.5em;
    margin: 10px;
    font-size: 1.3em;
    font-weight: bolder;
}
label{
    display: inline-block;
    margin: 5px;
    float: left;
    clear: left;
    width: 150px;
    text-align: left;
}
input {
    display: inline-block;
    float: left;
    margin: 5px;
}
}

.foot {
    position: fixed;
    padding: 10px 10px 0 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;

//position: sticky;
    display: flex;
    margin: 0;
//padding-top: 10px;
    line-height: 1.2;
    font-size: 1rem;
    transition: var(--transition-delay);
}

.head {
    position: fixed;
    padding: 10px 10px 0 10px;
    top: 0;
    bottom: 10px;
    width: 100%;
    height: 40px;
    display: flex;
    margin: 0;
//padding-bottom: 10px;
    line-height: 1.2;
    font-size: 1rem;
    transition: var(--transition-delay);
}

.App.theme-white {

    //background: url("./pictures/Poker Wallpapers HD.jpg") no-repeat transparent;
    background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.98), rgba(255, 255, 255, 0.96),
            rgba(255, 255, 255, 0.94), rgba(255, 255, 255, 0.92));
.content-box {
    //background-color: tan;
    //background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8));
    //background-color: rgba(255, 255, 255, 0.5);
h1, h2, h3, h4, h5, h6, p, tr, td, th, button, .link, .container, input, label {
    --accent-color: #B03F03;
    color: black;
    .card-body {
        background-color: rgba(84, 84, 84, 0.2);
    }
    .delete {
        background-color: #f32424;
    }
    .update {
        background-color: rgb(1, 133, 10);
    }
}
}
 .head {
    .nav-link, .link, .navbar-brand {
        //background-color: white;
        --accent-color: #B03F03;
        color: #B03F03;
    }
}
    .foot {
        //background-color: white;
        --accent-color: #B03F03;
        color: #B03F03;
  }
}

.App.theme-black {
    //background-color: rgba(0, 0, 0);
    background: radial-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.98),
            rgba(0, 0, 0, 0.96),
            rgba(0, 0, 0, 0.94),
         rgba(0, 0, 0, 0.92)
    );
.content-box {
    //background-color: tan;
    //background-color: rgba(34, 34, 34, 0.5);
h1, h2, h3, h4, h5, h6, p, tr, td, th, button, .container, .link, input, label {
    //--accent-color: #FD4E5A;
    --accent-color: #80010A;
    //color: #80010A;
    color: #FD4E5A;
    .card-body {
        background-color: rgba(86, 85, 85, 0.3);
    }
    .delete {
        background-color: #f32424;
    }
    .update {
        background-color: rgb(1, 133, 10);
    }
    //.delete {
    //    background-color: red;
    //}
    //.update {
    //    background-color: aqua;
    //}
}
}
     .head {
    .nav-link, .link, .navbar-brand {
        //background-color: #222222;
        //background-color: rgba(34, 34, 34, 0.5);
        --accent-color: #80010A;
        color: #FD4E5A;
    }
}
    .foot {
        //background-color: #222222;
        //background-color: rgba(34, 34, 34, 0.5);
        --accent-color: #80010A;
        color: #FD4E5A;
    }
}

.App.theme-pink {
    //background-color: salmon;
    background: radial-gradient(rgba(250, 128, 114, 1), rgba(250, 128, 114, 0.98),
            rgba(250, 128, 114, 0.96), rgba(250, 128, 114, 0.94), rgba(250, 128, 114, 0.92));
.content-box {
    //background-color: tan;
    //background-color: salmon;
h1, h2, h3, h4, h5, h6, p, tr, td, th, button, .link, .container, input, label {
    --accent-color: #FF3479;
    color: #400D1E;
    .card-body {
        background-color: rgba(253, 78, 90, 0.3);
        //min-width: 120%;
    }
    .delete {
        background-color: #f32424;
    }
    .update {
        background-color: rgb(1, 133, 10);
    }
    //.delete {
    //    background-color: red;
    //}
    //.update {
    //    background-color: aqua;
    //}
}
}
 .head {
        .nav-link, .link, .navbar-brand {
            //background-color: salmon;
            --accent-color: #FF3479;
            color: #400D1E;
        }
}
    .foot {
        //background-color: salmon;
        --accent-color: #FF3479;
        color: #400D1E;
  }
}

.link:hover {
    text-decoration-line: none;
}

.card-body {
    //min-width: 150%;
}

